ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.a{
    display: inline-block;
  }

.b{
    float: right;
    margin: 3px;
  }

  }
  
  li {
    float: left;
  }

  h1{
      text-align: center;
      vertical-align: middle;
      padding: 120px 100px 2px 100px;
      
  }

  form { 
    text-align: center;  
    margin: 0 auto; 
    width:500px;
    }

  input{
      text-align: center;
  }